<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:wght@400;600&family=IBM+Plex+Mono:wght@400;600&family=Recursive:wght@400;600&display=swap" rel="stylesheet">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title or "Joshua Schmidt" }}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<script src="/assets/js/tardis.js" defer></script>
<body>
  <header class="site-header">
    <div class="container">
      <h1 class="site-title"><a href="/">Joshua Schmidt</a></h1>
      <nav class="site-nav">
        <a href="/">Home</a>
        <a href="/experience/">Experience</a>
        <a href="/projects/">Projects</a>
        <a href="/about/">About</a>
        <a href="/cv/">CV</a>
      </nav>
    </div>
  </header>
  <script>
  console.log("%cHey there, curious dev!", "color:#fabd2f;font-size:16px;");
  console.log("You found an easter egg. Want another? Type 'tardis' while on my site for a surprise!");
  </script>
  <main class="site-main container">
    {{ content | safe }}
  </main>

  <footer class="site-footer">
    <div class="container">
      <p>© 2025 Joshua Schmidt</p>
    </div>
  </footer>
</body>
</html>

